.place__link {
  margin-top: 12px;
  color: #ffffff;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
}

.place__link:hover {
  opacity: 0.8;
}

@media screen and (max-width: 767px) {
  .place__link {
    margin-left: 16px;
  }
}